<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AirbaPaySdkAndroid"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name="kz.airbapay.airbapaysdk.AirbaPayActivity"
            android:exported="false"
            android:label="APSdk"/>

        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true"
            android:label="airba_pay_flutter_activity"/>
    </application>

</manifest>